{
  "overrides": [
    {
      "files": "*.kr",
      "options": {
        "parser": "markdown",
        "proseWrap": "always"
      }
    },
    {
      "files": "*.webc",
      "options": {
        "parser": "html"
      }
    }
  ]
}
