body {
  background: var(--color-background-page);
  color: var(--color-text);
  font: var(--size-font-body) var(--font-body);
}
header,
h1,
h2,
h3,
summary,
dt {
  font-family: var(--font-display);
}
header {
  --color-text: var(--color-text-inverted);
  --color-text-heading: var(--color-text-inverted);
  --color-link: var(--color-link-inverted);
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding: var(--size-spacing-small);
  background: var(--color-background-header);
  color: var(--color-text);
}
h1 {
  font-size: var(--size-font-title);
  font-style: var(--style-font-title);
}
h2 {
  color: var(--color-text-heading);
}
a {
  color: var(--color-link);
}

.page {
  --page-grid-columns: 8;
  --page-section-columns: 2;
  --page-grid-gap: var(--size-spacing-large);

  display: grid;
  grid-template-columns:
    [start] repeat(var(--page-grid-columns), 1fr)
    [end];
  gap: var(--page-grid-gap);
  align-items: baseline;
  padding: 0 calc(0.5 * var(--page-grid-gap));

  @media screen and (max-width: 40rem) {
    --page-grids: 6;
  }

  @media screen and (max-width: 60rem) {
    --page-grids: 8;
  }
}

.page > section {
  grid-template-columns: subgrid;
  display: grid;
  grid-column-end: span var(--page-section-columns);
}
.page > section > * {
  grid-column-end: span var(--page-section-columns);
}
.page > main {
  --page-main-columns: calc(
    var(--page-grid-columns) - var(--page-section-columns)
  );

  display: grid;
  grid-template-columns: subgrid;
  grid-column: start / span var(--page-main-columns);
}
.page > main > * {
  grid-column: start / span var(--page-main-columns);
}
