body {
  background: var(--color-background-page);
  color: var(--color-text);
  font: var(--size-font-body) var(--font-body);
}
header,
h1,
h2,
h3,
summary,
dt {
  font-family: var(--font-display);
}
header {
  --color-text: var(--color-text-inverted);
  --color-text-heading: var(--color-text-inverted);
  --color-link: var(--color-link-inverted);
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding: var(--size-spacing-small);
  background: var(--color-background-header);
  color: var(--color-text);
}
h1 {
  font-size: var(--size-font-title);
  font-style: var(--style-font-title);
}
h2 {
  color: var(--color-text-heading);
}
a {
  color: var(--color-link);
}
