@import "./timings.css";

.itinerary {
  display: grid;
  grid-template-columns:
    [start] auto [header] auto
    [info] 1fr 2fr 1fr 2fr [end];
  gap: var(--size-spacing-medium) var(--size-spacing-large);
  align-items: baseline;
  margin: var(--size-spacing-small);
}

.itinerary > dt {
  grid-column: start;
}

.itinerary > dd {
  grid-column: header / end;
}

.itinerary > .destination {
  display: contents;
}

.itinerary > .destination header {
  flex-direction: column;
  align-self: stretch;
  padding: 0 var(--size-spacing-small);
}

.itinerary > .destination ul {
  grid-column: info / end;
}

.itinerary .transportation,
.itinerary .transportation details {
  display: contents;
}

.itinerary .transportation h2 {
  font-weight: var(--weight-font-title-muted);
  color: inherit;
  grid-column: header / end;
}

.itinerary .transportation summary {
  grid-column: header;
}

.itinerary .transportation .timings {
  grid-column: info / end;
  grid-template-columns: subgrid;
}
